

@font-face {
    font-family: myFont;
    src: url(/assets/fonts/bar.otf);
}



@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .fade-in-up {
    animation: fadeInUp 1.5s ease-out forwards;
  }
  
  
  .nav-link {
    animation-delay: 0.3s;
  }
  
  .page1 h1 {
    animation-delay: 0.5s;
  }
  
  .page1 p {
    animation-delay: 0.7s;
  }
  
  .page1 video {
    animation-delay: 1s;
  }
  




body {

    position: relative;
    border-width: 10px;
    position: relative;
    height: 11in;
    border-style: solid;
    border-image-source: linear-gradient(rgba(0, 0, 0, 0.473),rgb(0, 0, 0));
    border-image-slice: fill 1;
    
    
}

video{

    width: 20in;
    position: relative;
    bottom: 2.5in;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h1{
    top: 350px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 80px;
    font-family: myFont;
    left: .4in;
    
    
}

p{

    top: 330px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 7px; 
}

